<div class="container">
    <h2>Temperature Unit Convertor</h2>
    <form class="form-horizontal" name="convert">
      <div class="form-group">
        <label class="control-label col-sm-2" for="Celcius">Celcius:</label>
        <div class="col-sm-10">
          <input [(ngModel)]="Celcius" name="Celcius" (keyup)=" CelciusToFahrenhet()" type="number" step="any" class="form-control" placeholder="Enter a number">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="Fahrenhet">Fahrenhet:</label>
        <div class="col-sm-10">
          <input [(ngModel)]="Fahrenhet" name="Fahrenhet" (keyup)=" fahrenthetToCelcius()" type="number" step="any" class="form-control" placeholder="Enter a number">     
        </div>
      </div>
    </form>
  </div>